.floating-book-btn{

position:fixed;

bottom:80px;
right:20px;

background:#C0395A;

color:white;

border:none;

padding:12px 20px;

border-radius:50px;

font-weight:600;

box-shadow:0 8px 20px rgba(0,0,0,.2);

z-index:1000;

}